# ================= BUILD FAILAI =================

*.o
*.obj
*.exe
*.out
*.app

# ================= CMAKE / MAKE =================

build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# ================= VS CODE =================

.vscode/
.vs/

# ================= VISUAL STUDIO =================

Debug/
Release/
x64/
x86/

# ================= LOG FAILAI =================

*.log

# ================= GENERATED DATA =================

data/*
!data/.gitkeep

# ================= RESULT FILES =================

vargsiukai*.txt
kietiakai*.txt

# ================= OS FAILAI =================

.DS_Store
Thumbs.db
desktop.ini

latex/